---
title: Integrating  S3 bucket with a database, Part1
author: YC
date: '2021-06-07'
slug: []
categories:
  - AWS
tags:
  - CLI
  - S3
keywords:
  - tech
summary: "Notes on AWS. S3 bucket manipulation and search. Storing S3 bucket structure as a csv table"
thumbnailImage: "./post/2021-06-07-integrating-s3-bucket-with-a-database-part1/images/S3toTable.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page   
---

<script src="/r_musings/rmarkdown-libs/header-attrs/header-attrs.js"></script>
<link href="/r_musings/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/r_musings/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<div id="integration-with-databases.-part-1.-converting-s3-folder-structure-to-a-table" class="section level3">
<h3>Integration with databases. Part 1. Converting S3 folder structure to a table</h3>
<p>I am not sure for now whether this is the most rational approach but since our project
structure (so far) has been consistent it seems that we can convert this structure
into a table that can be later fed to a database. Here are some starting thoughts</p>
</div>
<div id="adding-project-filenames-to-a-database" class="section level3">
<h3>Adding project filenames to a database</h3>
<p>For no particular reason I will be working with <code>Rogatsky-DD-2020_04_17</code> project</p>
<p>User - Dinesh
PI - RogatskyLab</p>
<p>The folders “inside” <code>Rogatsky-DD-2020_04_17</code> represent samples, but each
sample could have more than one file</p>
<p>First thing first can I search for folders inside <code>Rogatsky-DD-2020_04_17</code></p>
<pre class="bash"><code>aws s3api list-objects-v2   \
    --bucket genomics-test  \ 
    --prefix RogatskyLab/Dinesh/Rogatsky-DD-2020_04_17 \ 
    --output text  \
    --query &#39;Contents[?contains(Key,`Rogatsky-DD-2020_04_17`) == `true` ].[Key]&#39;</code></pre>
<p>Sure I can, but this produces the entire “path”, which is not what I want</p>
<p>now the command below returns just sample names</p>
<pre class="bash"><code>aws s3api list-objects-v2 \
   --bucket genomics-test \
   --prefix RogatskyLab/Dinesh/Rogatsky-DD-2020_04_17 \ 
   --output text  \
   --query &#39;Contents[?contains(Key,`Rogatsky-DD-2020_04_17`) == `true` ].[Key]&#39; \
   | cut -d&#39;/&#39; -f4 | uniq</code></pre>
<p>which produces</p>
<pre><code>Sample_Rogatsky-DD-2020_04_17_nameA1
Sample_Rogatsky-DD-2020_04_17_nameAB17
Sample_Rogatsky-DD-2020_04_17_nameBC</code></pre>
<p>Problem is that reference to the forth column - <code>f4</code> is hardcoded.
What if we decided to change the structure at some point?</p>
<div id="an-alternative-approach" class="section level4">
<h4>An alternative approach</h4>
<p>The command below will produce just <strong>file names</strong> because in our hierarchy
file names are always last (or first after <code>rev</code>)</p>
<pre class="bash"><code>aws s3api list-objects-v2 \
  --bucket genomics-test  \
  --prefix RogatskyLab/Dinesh/Rogatsky-DD-2020_04_17 \
  --output text  \
  --query &#39;Contents[?contains(Key,`Rogatsky-DD-2020_04_17`) == `true` ].[Key]&#39; \
  | rev | cut -d&#39;/&#39; -f 1 | rev</code></pre>
<p>Similarly, the following command will produce <strong>sample names</strong></p>
<pre class="bash"><code>aws s3api list-objects-v2 \
  --bucket genomics-test  \
  --prefix RogatskyLab/Dinesh/Rogatsky-DD-2020_04_17 \ 
  --output text  \
  --query &#39;Contents[?contains(Key,`Rogatsky-DD-2020_04_17`) == `true` ].[Key]&#39; \
  | rev | cut -d&#39;/&#39; -f 2 | rev | uniq</code></pre>
<p>What we really need is to convert path to table using “/” is a delimiter.
Actually, it is much simple than all these searches above - just replace <strong>/</strong> in
the bucket prefix structure with a comma and you have a CSV file.
I need to know very little about this table besides the fact that <strong>file names</strong>
are always in the last column and sample names are in the column before that.</p>
<p>like so…</p>
<pre class="bash"><code>aws s3api list-objects-v2 \
  --bucket genomics-test \
  --prefix RogatskyLab/Dinesh/Rogatsky-DD-2020_04_17 \
  --output text  \
  --query &#39;Contents[?contains(Key,`Rogatsky-DD-2020_04_17`) == `true` ].[Key]&#39; \
  | tr / ,</code></pre>
<p>You can now save this output or upload it back to the bucket</p>
</div>
</div>
