---
title: Crunch2013 Exploratory data analysis
author: YC
date: 2021-02-25
slug: []
categories:
  - R
tags:
  - data viz
  - machine learning
keywords:
  - tech
summary: "Crunchbase 2013 Exploratory Data Analysis"
thumbnailImage: "./post/2021-02-25-crunch2013-exploratory-data-analysis/images/usa_map.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page  
---

<script src="/r_musings/rmarkdown-libs/header-attrs/header-attrs.js"></script>
<link href="/r_musings/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/r_musings/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<p>The exploratory data analysis of Crunchbase2013 is <a href="/html/Initial_EDA.html" target="_blank">located here</a>.
Project repo is <a href="https://gitlab.com/chinenovy/crunch2013_analysis" target="_blank">here</a>.</p>
<p>The original goal of the analysis is to see whether we can use various tree-based
methods to predict the status of a company (ipo, operating, closed, acquired) given
data for all companies. Exploratory data analysis and preliminary random forest modeling indicated that this goal was too ambitious.
First, the amount of missing data for non-USA companies is considerable. Second,
the four classes above are very unbalanced, both “ipo” and “closed” are very small
to form meaningful test and training sets. To deal with these issues, I limited
the analysis to US companies. From the investor’s perspective both ipo and acquisition
are desirable outcomes, whereas company close and (maybe) continued operation is
less desirable. Therefore I combined ipo and acquired into a class labeled “made_it”
and closed, operating companies in a class “not_yet”. A large percent of companies in
a “not_yet” class are young, recently-founded companies whose actual future status was
not known (in 2013). Using random forest and xgboost algorithms I created a set of
models using various sampling approach to mitigate class imbalance
(downsample, upsamle,and smote )</p>
