---
title: CrunchBase 2013 data analysis
author: YC
date: 2021-02-25
slug: []
categories:
  - R
tags:
  - data viz
  - EDA
  - machine learning
keywords:
  - tech
summary: "Crunchbase2013"
thumbnailImage: "./post/2021-02-25-crunchbase-2013-data-analysis/images/crunch.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page  
---

<script src="/./rmarkdown-libs/header-attrs/header-attrs.js"></script>
<link href="/./rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/./rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<p><a href="https://www.crunchbase.com/">Crunchbase</a> is a company that collect, process,
analyzes and publishes information about public and private companies, company products,
venture capitalists, universities, and key people that drives innovation and entrepreneurship in the US and worldwide. Crunchbase also provides a searchable
platform with various level of service. A year 2013 version of Crunchbase database
is available from Crunchbase upon request. A few months ago I acquired this database.
This is a “real world” unsanitized data - warts and all that requires extensive preprocessing, cleaning and re-engineering. The topic is fascinating and I was curious what kind of information/insights I can get from this data.</p>
<p>The first step was to convert the collection of CSV files into something more analyst
friendly. THe data is rather messy with a lot of missing data, even for the USA subset;
a number of mistakes (Baghdad is definitely not in the USA), misattributed fields,
unrealistic numeric values, lack of strict table dictionaries and so on. To make
a bit more workable I first converted in into R package which is located at
<a href="https://gitlab.com/chinenovy/crunch2013" class="uri">https://gitlab.com/chinenovy/crunch2013</a></p>
<p>In addition to 11 tables that Crunchbase2013 comes with I added a number of additional
data related to USA state and city demographics that allowed to perform a variety
of analyses later on. I would love to extend this to the rest of the world but the quality
of data outside the USA in 2013 was rather spotty and the number of missing values
was too overwhelming.</p>
