---
title: Tweaking theme elements
author: YC
date: '2020-11-09'
slug: 2020-11-09-tweaking-theme-elements
categories:
  - R
tags:
  - hugo
  - blogdown
  - theme
keywords:
  - tech
summary: "Adjusting thumbnails and changing theme elements"
thumbnailImage: "./post/2020-11-09-tweaking-theme-elements/images/featured_theme_element.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page  
---

<link href="{{< relref "post/2020-11-09-tweaking-theme-elements/index.html" >}}index_files/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="{{< relref "post/2020-11-09-tweaking-theme-elements/index.html" >}}index_files/anchor-sections/anchor-sections.js"></script>


<p>So, if I want to see thumnail locally
I have to give a full path from based on my [permalinks] parameter in .toml
for example if I have there post = “/:year/:slug/” then my thumbnail location
has to be /2020/my-slug-name/myimagenmae.png</p>
<p>I wonder, whether there is a bigger problem….
blogdown has some idea of its own how to create the name of the post, than it creates
a folder in /post based on this name. However hugo creates names base on permalink
in .toml. BAsically it does not seem that blogdown cares about .toml</p>
<p>I find it problematic when blogdown and hugo render things correctly locally but not
when it is deployed this essentially created a situation when it is impossible to test the site</p>
<p>testingalternative approach. Thumnail image was mover into post/. and<br />
thumbnailImage: ./post/featured.png was set accordingly.
Testing whether it will be seen after deployment
ok, this setup seems to work but the image ends up in /post after site building while
the actual post in /2020/post-slug/ directory. So, why the fucking post is not in /post
do I need permalinks at all?????</p>
<p>ok. so I removed permalinks from .toml and changed
thumbnailImage: “./post/2020-11-08-setting-up-blogdown-site-clean-slate/featured-1.png”
locally it works. now lets see the deployment
ok, now the actual post was moved to /post after deployment, but… I don’t see the link to it</p>
<p>ahhhh. ok, I am an idiot. it only looks for slug, now, right?
do it should be ./post/setting-up-blogdown-site-clean-slate/featured-1.png</p>
<p>and it WORKED both locally and remotely.</p>
<p>now….. I do want my date back. should I add to slug directly?</p>
<p>lets try that (in future, may be we want date as a part of slug?) seems to be working locally
hmmmm
and it works upon deployment!!!</p>
<ol start="2" style="list-style-type: decimal">
<li>Now to make sure that we can use blogdown automation lets see how does it add image
<img src="images/chinchila.png" alt="chinchila" /></li>
</ol>
<p>SO if I use add_images addon blogdown created <code>/images</code> directory inside /post/mypost
and we can refer its content directly (as we should in future) OK!!!</p>
<p>So image addition seems to be consisted</p>
<ol start="3" style="list-style-type: decimal">
<li>ultimate test - we shall add NEW post</li>
</ol>
<p>DONE now I need to edit this drivel and figure out how to modify the
theme
<!--more-->
BABY STEPS! THIS IS a Change in the “original” post</p>
<p>OK This has been incorporated too, so it seems I want to have serve_site running
in the background but block autosave. When I save actual modifications the site
gets updated</p>
<p>Now, this is , in all honestly is NOT intuitive. Now, what happens is I Stop the
server. INtroduce an update and restart the server?</p>
<p>THIS WAS ADDED AFTER I STOPED THE SERVER. SAVING AND RESTARTING NOW</p>
<p>OK. Changes that I added when hugo was offline were not rendered or incorporated….
WHY?</p>
<p>So, obviously AFTER I started to add new things with the server running OLD changes
were incorporated (because it rerendered Rmd file so everything was updated). It seems
that blogdown does not automatically updates Rmd files when I use serve_site() but literally
serves available html files. THis is super unintuitive</p>
<p>Now, what happen if I delete one of the posts?</p>
<p>So with the hugo on it just gets deleted - at least this is as expected.</p>
<p>I shall declare partial success here.</p>
<p>BABY STEP2. Why my thumbnails do not render. THis is a question for the theme,
rather than for the blogdown. Ok, lets try it</p>
<p>If we put thin into a yaml header
it works as intended (shows the first image of a post as a thumbnail)</p>
<p>thumbnailImage: post/2020-11-03-blogdown-the-firts-blood/featured.png
thumbnailImagePosition: left
autoThumbnailImage: yes</p>
<p>IT WORKED!!</p>
<p>#details configuration
1. make the profile picture bigger</p>
<p>in /themes/hugo-tranquilpeaks-theme/src/scss/util/mixins/</p>
<p>there is a bunch of scss files that define theme configuration</p>
<p>in _sidebar.scss replace the following to a desired size</p>
<p>.sidebar-profile-picture {
width: 90px;
height: 90px;
border-radius: 90px;
margin-bottom: 5px;
}</p>
