---
title: AWS migration. AWS CLI bucket manipulation and search
author: YC
date: '2021-05-18'
slug: []
categories:
  - AWS
tags:
  - CLI
  - S3
keywords:
  - tech
summary: "Notes on AWS. S3 bucket manipulation and search"
thumbnailImage: "./post/2021-05-18-aws-migration-aws-cli-bucket-manipulation-and-search/images/S3Bucket.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page   
---

<script src="/r_musings/rmarkdown-libs/header-attrs/header-attrs.js"></script>
<link href="/r_musings/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/r_musings/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<div id="s3-buckets-and-object-operations" class="section level2">
<h2>S3 buckets and object operations</h2>
<p>S3 is not a file system, it is a container of objects. Any similarity to a
file system exists mostly for the sake of our convenience. For example, folders
are really a prefixes in the name of an object (file).</p>
<p>An object in S3 is a file and its metadata. Objects are organized into buckets.
Bucket’s name should be DNS compliant, globally unique and <strong>cannot be changed</strong>.</p>
<p>AWS S3 User guide is located <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html">here</a>
CLI for S3 documentation (<code>aws s3</code>) is located <a href="https://docs.aws.amazon.com/cli/latest/userguide/cli-services-s3-commands.html">here</a>
Now, there is also a set of commands for operations with buckets and objects
(<code>aws s3api</code>) <a href="https://awscli.amazonaws.com/v2/documentation/api/latest/reference/s3api/index.html">here</a> <code>s3api</code> is much more flexible than <code>s3</code>.</p>
</div>
<div id="programmatic-upload-of-a-file-to-s3-bucket" class="section level2">
<h2>Programmatic upload of a file to S3 bucket</h2>
<pre class="bash"><code>aws s3 cp test_R1.fastq s3://genomics-test
aws s3 cp test_R2.fastq s3://genomics-test

aws s3 ls genomics-test</code></pre>
<pre class="bash"><code>$ aws s3 ls genomics-test
2021-03-10 13:59:22         49 test_R1.fastq
2021-03-10 13:59:33         49 test_R2.fastq</code></pre>
<p>Now, lets create a “folder” sample_test</p>
<p>Notice, I am using <code>s3 mv</code> here and <code>--recursive</code> option in <code>ls</code> to be able to
see ‘the structure’, or rather the full file name</p>
<pre class="bash"><code>$ aws s3 mv s3://genomics-test/test_R1.fastq s3://genomics-test/sample_test/test_R1.fastq
move: s3://genomics-test/test_R1.fastq to s3://genomics-test/sample_test/test_R1.fastq

$ aws s3 ls genomics-test
                           PRE sample_test/
2021-03-10 13:59:33         49 test_R2.fastq

$ aws s3 ls genomics-test --recursive
2021-03-10 14:22:50         49 sample_test/test_R1.fastq
2021-03-10 13:59:33         49 test_R2.fastq</code></pre>
<p>Deleting non-empty folder is impossible and the wildcards do not work, it seems
If you, for example, want to delete an entire <code>sample_test</code> folder below you need
to provide full prefix paths and <code>--recursive</code> option to <code>rm</code></p>
<pre class="bash"><code>$ aws s3 ls genomics-test --recursive
2021-03-10 14:22:50         49 sample_test/test_R1.fastq
2021-03-10 14:28:11         49 sample_test/test_R2.fastq
2021-03-10 14:30:52         49 test_R1.fastq

$ aws s3 rm s3://genomics-test/sample_test --recursive
delete: s3://genomics-test/sample_test/test_R2.fastq
delete: s3://genomics-test/sample_test/test_R1.fastq

$ aws s3 ls genomics-test --recursive
2021-03-10 14:38:24         49 test_R1.fastq</code></pre>
<p>Now, I created a realistic directory structure that we typically work with, now
I would like to upload it all, including files in them. For reason unknown aws cli
strips the top most directory level and only upload its content. Therefor if you
have to upload directory <code>LevelOne</code> and keep it in your bucket, you need to create
directory <code>oneLevelUp</code> containing <code>LevelOne</code> and upload <code>oneLevelUp</code> - yeah, I know,
confusing</p>
<pre class="bash"><code>$ aws s3 cp oneLevelUp s3://genomics-test --recursive</code></pre>
<p>as you can see this is a fairly complicated, but a realistic structure, so much
output will follow. Listing the content with <code>aws s3 ls genomics-test --recursive</code>
will produce a rather ugly output of all files.</p>
<p>Now, besides <code>aws s3</code> which provide you with high-level function there is also
<code>aws s3api</code> that require more typing but provides a more refined access</p>
<p>for example calling <code>aws s3api list-objects-v2 --bucket genomics-test</code> will
produce this <img src="images/s3api_list-objects-v2_output.png" alt="output" />. The columns here are
Type, Etag (md5sum), full object name, Date of last modification, size and the
S3 storage class (it is STANDARD by default)</p>
<p>So for our purposes we want to parse out several elements of this name
For example <code>RogatskyLab/Dinesh/SeqRun_75/Sample_SeqRun_75_Control/Sample_SeqRun_75_Control_S2_L002_R1_001.fastq</code>, piID = <code>RogatskyLab</code>, userID = <code>Dinesh</code> , seqRunID = <code>SeqRun_75</code>,
SampleID = <code>Sample_SeqRun_75_Control</code></p>
<p>There are two possibilities here - split the object name by <code>/</code> and create four
additional columns or extract these elements before upload and store them as user
provided metadata</p>
<p><strong>LIMITATION!!!!!!</strong>
Single PUT operation allow to upload a file smaller than 5GB. In our case
we need to use multipart upload. So when you use low level commands from
<code>aws s3api</code> you need to allow for this contingency, because we often have files
that are larger than 5GB!</p>
<p>However, high level <code>aws s3 cp</code> will do multipart upload automatically for you.</p>
<p>So, now how to setup user-specific keys fo specific combination of prefixes.
we have a seqRun located in <code>Rogatsky-DD-10264_2021_03_26_human_test</code>. This is
the normal real data structure as we have it after initial processing.</p>
<p>I want to upload this seqRun to genomics-test bucket, but I also know that this
run originated from <code>RogatskyLab</code> and it comes from user <code>Dinesh</code>. So my prefix
for this upload has to be <code>RogatskyLab/Dinesh/</code></p>
<p>For me a two step process worked</p>
<p>first create an empty folder. Here <code>RogatskyLab</code> and <code>Dinesh</code> existed before
<code>Rogatsky-DD-10264_2021_03_26_human_test</code> is what I am creating.</p>
<p>a check will be needed to make sure such prefix does not exist already</p>
<p><code>aws s3api put-object --bucket genomics-test                                                                      --key RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/</code></p>
<p>then recursively copy you project into this new folder<br />
<code>aws s3 cp Rogatsky-DD-10264_2021_03_26_human_test s3://genomics-test/RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/                        --recursive</code></p>
<div id="extracts-all-objects-with-a-given-prefixes-that-contain-a-specific-string-in-the-name" class="section level3">
<h3><strong>1. Extracts all objects with a given prefixes that contain a specific string in the name</strong></h3>
<p><code>aws s3api list-objects-v2 --bucket genomics-test --prefix RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/ | grep .gz</code></p>
<p>This will take all .gz files that belong to <code>RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/</code>
this is again done using <code>aws s3api</code></p>
</div>
<div id="extract-only-sample-names" class="section level3">
<h3><strong>2. Extract only Sample names</strong></h3>
<p>There are at least two way of doing it</p>
<div id="quick-easy-and-specific-to-our-naming-convention" class="section level4">
<h4>Quick, easy and specific to our naming convention</h4>
<pre class="bash"><code>aws s3 ls s3://genomics-test/RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/ | grep -oP &#39;(?&lt;=PRE ).*&#39; | grep Sample</code></pre>
<p>since we know the name of the PI, User and seqRun we can get sample names by
first filtering for all PREfixes in the output and then select all prefixes that
starts with <em>Sample</em></p>
</div>
<div id="more-involving-and-interesting-but-also-more-general" class="section level4">
<h4>More involving and interesting but also more general</h4>
<pre class="bash"><code>aws s3api list-objects-v2 --bucket genomics-test --prefix RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test --query &#39;Contents[].{Key: Key}&#39; --output text | grep .gz | xargs dirname | uniq </code></pre>
<p>This works and the output looks like this</p>
<pre class="bash"><code>RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/Sample_Rogatsky-DD-10264_2021_03_26_PBM_NELF_DMSO_1
RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/Sample_Rogatsky-DD-10264_2021_03_26_PBM_NELF_DMSO_2
RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/Sample_Rogatsky-DD-10264_2021_03_26_PBM_NELF_thz3H_1
RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/Sample_Rogatsky-DD-10264_2021_03_26_PBM_NELF_thz3H_2
RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/Sample_Rogatsky-DD-10264_2021_03_26_PBM_NELF_ykl3F_2
RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/Sample_Rogatsky-DD-10264_2021_03_26_PBM_NELF_ykl3H_1</code></pre>
<p>So this requires some explanation, at least for me. Remember that internally
<code>aws cli</code> operates with json objects. You can see this by running this
command</p>
<pre class="bash"><code>aws s3api list-objects-v2 --bucket genomics-test --prefix RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test --output json</code></pre>
<p>You will receive a long output that looks like this</p>
<pre class="bash"><code>{
    &quot;Contents&quot;: [
        {
            &quot;Key&quot;: &quot;RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test/&quot;,
            &quot;LastModified&quot;: &quot;2021-04-13T02:52:41+00:00&quot;,
            &quot;ETag&quot;: &quot;\&quot;someEtaggoeshere\&quot;&quot;,
            &quot;Size&quot;: 0,
            &quot;StorageClass&quot;: &quot;STANDARD&quot;,
            &quot;Owner&quot;: {
                &quot;DisplayName&quot;: &quot;chinenovy&quot;,
                &quot;ID&quot;: &quot;log@id@@##value@#@#@!@heresadsfdg&quot;
            }
        },

    .......

    ]
}    </code></pre>
<p>This is a json object that contains a <em>nested array</em> <strong>Contents</strong> with multiple
key:value pairs. <code>--query</code> argument uses (JMESpath query language)[<a href="https://jmespath.org/" class="uri">https://jmespath.org/</a>]
to search and select within the output. Specifically, it takes all elements of
array <strong>Contents</strong> (no indexes in the square brackets after <em>Content</em>).
The second part of of the query - <code>.{Key: Key}</code> is a bit more interesting. The period
between <code>'Contents[]'</code> and <code>{Key: Key}</code> indicates that JMESpath perform subexpression
evaluation given data from <code>'Contents[]'</code>.
This creates a (multi-select hash expression)[<a href="https://jmespath.org/specification.html#multiselect-hash" class="uri">https://jmespath.org/specification.html#multiselect-hash</a>] as following</p>
<ol style="list-style-type: decimal">
<li><p>Given json data from <code>--query 'Contents[]'</code> a hash {} is created</p></li>
<li><p>A key <strong>Key</strong> is created whose value is the result of evaluating <em>Key</em> against
the provided JSON document: <code>{"Key": evaluate(Key, &lt;data&gt;)}</code>. In this case <em>Key</em>
from the <code>--query 'Contents[]'</code> is copied into <strong>Key</strong> in the the new hash {}</p></li>
</ol>
<p>Just to illustrate the idea the query bellow would select two element from the
json output - “Key” and “ETag”</p>
<pre class="bash"><code>aws s3api list-objects-v2 --bucket genomics-test --prefix  RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test --query &#39;Contents[].{Key: Key, ETag: ETag}&#39; --output text</code></pre>
<p>Now the output include all possible objects that happened to have a relevant
prefix. What if I want to select or <strong>filter</strong> a specific type of objects?
<strong>Filter</strong> expression starts with a <strong>?</strong>. Since you filter the original output
the query conditions are placed inside of the square brackets, like so</p>
<pre class="bash"><code>aws s3api list-objects-v2 --bucket genomics-test --prefix RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test --query &#39;Contents[?ends_with(Key, `.gz`) == `true`].{Key: Key}&#39; --output text</code></pre>
<p>What this does is select all value of <strong>Key</strong> that <strong>ends_with</strong> “.gz”. There are
several other (built-in functions)[<a href="https://jmespath.org/specification.html#built-in-functions" class="uri">https://jmespath.org/specification.html#built-in-functions</a>]
such as <strong>begins_with()</strong> or <strong>contains()</strong></p>
<p>Following that I just striped names of files to get my unique sample name. Probably
I spend some more time I can come up with a clever regex that allow me</p>
<pre class="bash"><code>aws s3api list-objects-v2 --bucket genomics-test --prefix RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test --query &#39;Contents[?ends_with(Key, `.gz`) == `true`].{Key: Key}&#39; --output text | xargs dirname | uniq | grep -oE &quot;[^/]+$&quot;</code></pre>
<p><code>awk</code> gurus suggested this, but this assumes that I know that sample names will always be
the 4th prefix. I might as well just do <code>aws s3 ls</code> and grep for “Sample”</p>
<pre class="bash"><code>aws s3api list-objects-v2 --bucket genomics-test --prefix RogatskyLab/Dinesh/Rogatsky-DD-10264_2021_03_26_human_test --query &#39;Contents[?ends_with(Key, `.gz`) == `true`].{Key: Key}&#39; --output text | awk -F/ &#39;{print $4}&#39; | uniq</code></pre>
<p>Naturally, you can combine search results with whatever bush commands you can think of.
For example, the snippet below collects all bucket names ([.Name] portion) that
contain “klf4” in a bucket name, pass these names to STOUT, uses <em>xargs</em> to collect
these names, print the names of the buckets and contents of the buckets in parallel</p>
<pre class="bash"><code>aws s3api list-buckets --query &#39;Buckets[?contains(Name, `klf4`) == `true`].[Name]&#39; --output text| xargs -I {} sh -c &#39;echo {} &amp;&amp; aws s3 ls {}&#39; 
klf4-esc
</code></pre>
<p>to produce this output</p>
<pre class="bash"><code>klf4-esc
2019-05-08 22:53:33  343383750 KLF4_ESC_2I.bw
klf4-polarization
2019-06-06 00:55:26  649059347 Sample_EC-DD-5873_Inp_CT_treat_pileup.bw
2019-06-06 00:55:26  383064447 Sample_EC-DD-5873_RD_CT_treat_pileup.bw
2019-06-06 00:55:26  332714703 Sample_EC-DD-5873_RD_C_treat_pileup.bw
2019-06-06 00:55:26  327938254 Sample_EC-DD-5873_RD_IL4_treat_pileup.bw
klf4-rep1
2020-09-09 15:04:38  278167643 Sample_RD-C_treat_pileup.bw
2020-09-09 15:04:38  274108941 Sample_RD-Corts_treat_pileup.bw
2020-09-09 15:04:38  241941634 Sample_RD-Dex_treat_pileup.bw
2020-09-09 15:04:38  260962648 Sample_RD-IL4_treat_pileup.bw</code></pre>
</div>
</div>
</div>
