---
title: SQuirrel SQL on Ubuntu
author: YC
date: '2020-11-11'
slug: "2020-11-11-squirrel-sql-on-ubuntu"
categories: ["SQL"]
tags: []
keywords:
  - tech
summary: "Setting up and configuring SQuirrel (to use with postgreSQL)"
thumbnailImage: "./post/2020-11-11-squirrel-sql-on-ubuntu/images/SQL.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page  
---

<link href="/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<p>Until recently I used <strong>pgadmin4</strong> for most of my database needs. First, it is
easily “available”. Second when you just start with SQL (its Postgres flavor anyway)
this is what you are given.</p>
<p>Problem is the <strong>“P”</strong> in <strong>pgadmin4</strong> - it only works with <strong>PostgreSQL</strong>.
After some searching, I found <a href="http://squirrel-sql.sourceforge.net/"><strong>SQuirrel</strong></a>.
This is presumably a universal SQL client that can be used with many(all?)
SQL flavors. It exists for multiple platforms. The minor drawback -it is written
in Java, but hey, why not.le platforms. The minor drawback -it is written
in Java, but hey, why not.</p>
<p>On Ubuntu &gt; 16.04 the installation is very simple</p>
<pre><code>sudo snap install squirrelsql</code></pre>
<p>and that was it. When you start <em>SQuirrel</em> for the first time you need to set up
drivers to connect to an existing SQL server and set up your database access
(create an <strong>alias</strong>) in SQuirrel parlance. When you start <em>SQuirrel</em> look for
two vertical tabs in the upper left corner.</p>
<center>
<img src="images/squirel_start.png" title="fig:" alt="“SQuirrel Driver and Aliases”" />
</center>
<p><em>SQuirrel</em> comes with pre-installed PostgreSQL drivers. So I didn’t have to do anything,
Otherwise, you can select your SQL database from the list on the left and installed
an appropriate one.</p>
<p>Next, you create an alias to connect to a specific database. Click on the “Alias” tab,
followed by “+” subtab.</p>
<center>
<img src="images/add_alias.png" title="fig:" alt="“SQuirrel Aliase creation”" />
</center>
<p>The <em>Name</em> is a character string. Depending on the type and the location of your database the URL might contain additional information about a specific machine
and a port. In my case the database is local, hence <code>localhost</code> and a database name.</p>
