---
title: AWS mgration. AWS CLI
author: YC
date: '2021-03-14'
slug: []
categories:
  - AWS
tags: []
keywords:
  - tech
summary: "Notes on AWS migration from a total AWS beginner"
thumbnailImage: "./post/2021-03-14-aws-mgration-aws-cli/images/great_migration.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page    
---

<script src="/r_musings/rmarkdown-libs/header-attrs/header-attrs.js"></script>
<link href="/r_musings/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/r_musings/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<p>At HSS we started to map out our eventual AWS migration. Everything related to AWS
in this blog has been inspired by this “great migration”. Although I have been
using AWS for a few year my experience has been limited to serving some static
files to the UCSC genomics browser using AWS web console. This is hardly enough
for what we want to achieve here.</p>
<p>Right now we are planing something much more complex that involves moving
our entire sample storage, integrating sample files metadata into a self-updating
database, and eventually integrating the storage and database with our data
processing workflows. HSS data science will be involved in this but they have no
experience with genomics data and workflow, I have this experience but no experience
with AWS so, we are making it up as we go along.</p>
<p>To start it all we would have stop relying on the Web management console (as much)
and switch to a more programmatic access. This means that we either do it with
the AWS command line interface (CLI) or Python using boto3 (or both).</p>
<div id="set-up-cli-at-local-linux-workstation-and-hpc" class="section level2">
<h2>1. Set up CLI at local linux workstation and HPC</h2>
<p>Since I have an account with AWS I will be using this account for my trials and errors,
first thin first I need to set up AWS CLI version 2 on my local workstation and
at HPC</p>
<p>AWS documentation is <a href="%22https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2.html%22">here</a></p>
<p>Download the latest version of CLI2</p>
<pre class="bash"><code>curl &quot;https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip&quot; -o &quot;awscliv2.zip&quot;
unzip awscliv2.zip
sudo ./aws/install</code></pre>
<p>curently located at ~/aws,
folowing installation you should receive the following message
<code>You can now run: /usr/local/bin/aws --version</code></p>
<p>confirm installation</p>
<pre class="bash"><code>$ aws --version
aws-cli/2.1.29 Python/3.8.8 Linux/5.8.0-44-generic exe/x86_64.ubuntu.20 prompt/off</code></pre>
<p>Now, we need to configure AWS CLI to access your AWS account. The idea is the same
as with normal linux. When you create your first account with <a href="https://aws.amazon.com/console/"><strong>AWS Management Console</strong></a>
this account has root priviliges. It is a bad practice to use you root account
security credential for anything that is not absolutely essential.
So, you first should create your <strong>IAM admin user and group</strong>. Oh yeah, AWS love
acronyms, half of the time I forget the meaning 20 seconds after I learned it: IAM
stands for Identity and Access Managment - an AWS service responsible for users
and resource access management and security</p>
<p>Since I am doing it on MY account I would like to create an administrative <strong>group</strong>.
However, in order to do this you first need your security credentials to configure
AWS CLI access. THis is where you would have to use AWS console, because this is
the only way to get security keys and secret for either root user (not recommended)
or a IAM user with administrative priviliges for the first time</p>
<p>Information about <a href="https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-quickstart.html#cli-configure-quickstart-creds">credential for CLI is here</a></p>
<p>to configure AWS CLI you can use <code>aws configure</code> command. You will need the following
information to create a valid configuration:</p>
<p>-Access key ID</p>
<p>-Secret access key</p>
<p>-AWS Region</p>
<p>-Output format</p>
<div id="access-key-id" class="section level3">
<h3>Access key ID</h3>
<p>If you need this for root account you can only get it from the web management console
You have an Admin with root privileges (that would be me on this account) you
will receive it from me</p>
</div>
<div id="secret-access-key" class="section level3">
<h3>Secret access key</h3>
<p>Same as above</p>
</div>
<div id="aws-region" class="section level3">
<h3>AWS region</h3>
<p>Your admin will tell you. On my account I use <code>us-east-1</code>.</p>
</div>
<div id="output-format" class="section level3">
<h3>Output format</h3>
<p>Here are the options: <strong>json, yaml, yaml-stream, text, table</strong>. json is the
default. I am sorrely temted to try either yaml or text. May be I will on other
accounts</p>
<p>On my workstation I would like to have two profiles. The default is for my
IAM user and an extra profile for root. Calling <code>aws configure</code> with no arguments
will create a default profile that is stored in <code>~/home/.aws</code> directory.
The profiles are stored in two files <code>credentials</code> amd <code>config</code>. <code>credentials</code> contains<br />
Access key ID and Secret access key, config contains other information(region and
output format).</p>
<p><strong>credentials</strong></p>
<pre class="bash"><code>[default]
aws_access_key_id = BLAHBLAHBLAHBLAH
aws_secret_access_key = moreCOM/plexBLAH?BLAH/blahblaHbLAHblahBlhahhhhaal</code></pre>
<p><strong>config</strong></p>
<pre class="bash"><code>[default]
region = us-east-1
output = json</code></pre>
<p>If you want to add additional profiles use <code>aws configure --profile newProfileName</code></p>
<p>Now, if everything worked correctly you can quickly test you setup by running
some of the <code>aws iam</code> commands. This for example provides you a list of groups
No this account number is not real. As you can see, it is json but you can change it</p>
<pre class="bash"><code>$ aws iam list-groups
{
    &quot;Groups&quot;: [
        {
            &quot;Path&quot;: &quot;/&quot;,
            &quot;GroupName&quot;: &quot;hssAdmin&quot;,
            &quot;GroupId&quot;: &quot;SOMELONGSTRING&quot;,
            &quot;Arn&quot;: &quot;arn:aws:iam::146428167169:group/hssAdmin&quot;,
            &quot;CreateDate&quot;: &quot;2021-03-08T17:34:11+00:00&quot;
        }
    ]
}
</code></pre>
<p>Now, let create a new user account. You can either do it via management console
or via CLI. So this is what I want to do</p>
<ol style="list-style-type: decimal">
<li>Create user <code>someuser</code> with tags.
NOTE: Key and Value are separate by a comma, key-value pairs by a space</li>
</ol>
<pre class="bash"><code>aws iam create-user --user-name someuser --tags Key=name,Value=John_Doe Key=Email,Value=doej@hss.edu Key=secondaryEmail,Value=jdoe@gmail.com</code></pre>
<ol start="2" style="list-style-type: decimal">
<li>Give the user access to the AWS Management Console (optional)
This requires a password, I also specified that the user is required to update
password on first login. Password needs to conform AWS policies or you will receive an error</li>
</ol>
<pre class="bash"><code>aws iam create-login-profile --user-name someuser --password Hsomesmallleters! --password-reset-required</code></pre>
<ol start="3" style="list-style-type: decimal">
<li>Give user a programmatic access
This requires Access key ID and a secret.</li>
</ol>
<pre class="bash"><code>aws iam create-access-key --user-name someuser</code></pre>
<ol start="4" style="list-style-type: decimal">
<li>Add user to an existing group (optional)
You might want to check what groups exist first</li>
</ol>
<pre class="bash"><code>aws iam list-groups
aws iam add-user-to-group --user-name someuser --group-name highAdmin</code></pre>
<p>You can attach existing policies to an individual user but it is not recommended.
The best practice is to create policies for a group and attach user to a group
If your group does not have policies you can create them using using
<code>aws iam create-policy</code>. This command takes a json document as an argument.
You could find policy examples <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_examples.html">here</a>
but it is easier to actually do it via a console and then save a json.</p>
</div>
</div>
