---
title: Setting up blogdown site - the begining.
author: YC
date: 2020-11-07
slug: 2020-11-07-setting-up-blogdown-site
categories:
  - R
tags:
  - blogdown
keywords:
  - tech
summary: "Hindsite 20/20 - things to pay attention to before you begin"
thumbnailImage: "post/2020-11-07-setting-up-blogdown-site/images/featured-1.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page
---

<link href="/rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<p>This is my first attempt to create a web page with <strong>blogdown</strong> - an R package
for creating static web sites.
I used a “companion” package - <strong>bookdown</strong> before to create the web documentation
for some of our apps, but this is somewhat new.
Fortunately, both packages created by Yihui Xie are very well documented and resources
are abundant</p>
<p>Overall felling so far, initial set up is very painless. Content creation is not so much.</p>
<p>The main problem, is that you have <strong>four</strong> pieces of software to take care of
and each of them has it own configuration quirks. Before you start please read
<a href="https://bookdown.org/yihui/blogdown/configuration.html">Configuration</a> chapter of
the <strong>blogdown</strong> book.</p>
<p>The main setup issue is that you have to deal with three different software pieces
(four actually) to complete this project.</p>
<p><strong>1)</strong> <a href="https://gohugo.io/">Hugo</a> static site generator</p>
<p><strong>2)</strong> <strong>blogdown</strong> - either directly using various <strong>blogdown</strong> functions or via
various Addins in <strong>Rstudio</strong> (or both)</p>
<p><strong>3)</strong> a web site <strong>theme</strong>. Themes are organized collections HTML, CSS, JS layouts
that tells Hugo how to render the page. Themes essentially create “look” and
“feel” of your web site. When I was writing this there were close to a hundred
available at Hugo site.</p>
<p>Blogdown comes with its own default theme (Lithium) which has been preconfigured
to work with blogdown. I did not use it. May be if I did my transition would be much
easier but hindsight is 20x20. Each of this pieces have their own set of configuration files, that are likely
will be in different formats.</p>
<p><span style="color: #900C3F;">Locating configuration files should be the first thing
you do after <strong>blogdown</strong> creates you first site.</span></p>
<p><strong>Hugo</strong> supports <a href="https://toml.io/en/">.toml</a>, <a href="https://yaml.org/">.yaml</a> and json
When creating a website Hugo looks for a <code>config.toml</code> file; if not found it proceed
to <code>config.yaml</code>.
Themes, often have either .toml or .yaml configuration files somewhere as well
and often provide a separate <code>config.</code> file with theme-specific default. You absolutely
need to review these defaults because some of them define file locations in
a deployment-ready web page (<code>blogdown::build_site()</code>, <code>/public</code> directory) which
may not be what you expect based on you Rproject directory.
<strong>Blogdown</strong> does not support json, so scratch this. Blogdown fully support yaml,
because Rmarkdown uses yaml for documents headers (often referred to as
“front matter”).</p>
<p>When I created my first site my main problem was to understand how what Hugo renders
and the structure of my Rproject matches. Pay particular attention to
<strong>the differences in directory structures</strong> between your Rproject and a deployed website.</p>
