---
title: Setting up blogdown site - creating site
author: YC
date: 2020-11-07
slug: "2020-11-07-setting-up-blogdown-site-clean-slate"
categories:
  - R
tags:
  - blogdown
keywords:
  - tech
summary: "Post Formatting attempt"
thumbnailImage: "./post/2020-11-07-setting-up-blogdown-site-clean-slate/images/featured-1.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page
---

<link href="{{< blogdown/postref >}}index_files/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="{{< blogdown/postref >}}index_files/anchor-sections/anchor-sections.js"></script>


<div id="web-page-creation" class="section level2">
<h2>Web page creation</h2>
<ol style="list-style-type: decimal">
<li><p><strong>blogdown</strong> needs to be installed (<code>install.packages("blogdown")</code>)</p></li>
<li><p><strong>blogdown</strong> uses <a href="https://gohugo.io/">Hugo</a> static site generator. I did not
have it installed, but there are two function: <code>blogdown::install_hugo</code> followed
by <code>update_hugo()</code> that will install an update Hugo to the latest version.</p></li>
<li><p>Now you are ready to create your new web page. There are two way of doing it
<strong>i</strong> created a new project in Rstudio like you normally would
and select <strong>Website using blogdown</strong>
<img src="new_project_wizard.png" alt="“Website using blogdown”" /></p></li>
</ol>
<p><strong>ii</strong> choose the project directory</p>
<p><strong>iii</strong> chose the website “theme”</p>
<p>There are dozens and dozens of <a href="https://themes.gohugo.io/">themes</a> available on
Hugo web site and you can spend quite some time digging through this. Blogdown comes
with the <a href="https://themes.gohugo.io/hugo-lithium-theme/">“Lithium”</a> default theme.</p>
<p><img src="new_project_wizard_themes.png" alt="Lithium" />
Themes can be also installed later with <code>blogdown::instal_theme()</code>.</p>
<p>For this page, I used <a href=""><code>kakawait/hugo-tranquilpeak-theme</code></a></p>
<ol start="4" style="list-style-type: decimal">
<li>Somewhere at this point I created a local git repository and linked it to the
remote. I find it easier to create a local repository first and then push it to
the remote (<code>git push --set-upstream https://gitlab.com/YourUserName/YourProjectName.git master</code>)</li>
</ol>
<p>Historically, most of my “stuff” lives at GitLab which
provides a built in CI/CD service (<a href="https://docs.gitlab.com/ee/user/project/pages/">GitLab Pages</a>).
CI/CD pipelines, including whatever will render you webpage require a configuration
<strong>yaml</strong> file.</p>
<p>An example yaml configuration file for blogdown-generate web pages from
Yihui Xie <strong>bookdown</strong> <a href="https://bookdown.org/yihui/blogdown/gitlab-pages.html">web book</a>
worked out of the box</p>
<p>Here is Yihui Xie’s example.</p>
<pre class="r"><code>image: debian:buster-slim

before_script:
  - apt-get update &amp;&amp; apt-get -y install pandoc r-base
  - R -e &quot;install.packages(&#39;blogdown&#39;,repos=&#39;http://cran.rstudio.com&#39;)&quot;
  - R -e &quot;blogdown::install_hugo()&quot;

pages:
  script:
    - R -e &quot;blogdown::build_site()&quot;
  artifacts:
    paths:
      - public
  only:
    - master</code></pre>
</div>
<div id="toml" class="section level2">
<h2>TOML</h2>
<p>Most of my problems with the initial setup came from a default TOML setup that came
with the theme.</p>
<ol style="list-style-type: decimal">
<li><strong><code>baseURL</code></strong> parameter in <code>config.toml</code>. When this parameter left to theme’s
default or commented out the web page was
rendered locally just fine, but the gitlab CI/CD pipeline failed to render correctly
(the theme was ignored completely).</li>
</ol>
<p>Conversely, when <code>baseURL</code> is set to the address of the Gitlab Page, the webpage was
rendered correctly by the Gitlab but the local installation of <em>hugo</em> failed to start.</p>
<p>There is a discussion of this issue <a href="https://github.com/rstudio/blogdown/issues/254">here</a></p>
<p>At the moment I do not have an effective solution for this issue beyond keeping the
<code>baseURL</code> commented out for local development and uncommenting it before pushing to
the gitlab repository.</p>
<ol start="2" style="list-style-type: decimal">
<li><strong>[permalinks]</strong> Hugo manual has a whole chapter <a href="https://gohugo.io/content-management/urls/">about permalinks</a>
The idea of permalinks is to standardize the path definitions for various sections
of the website. While I see some benefits to such an organization the default values
for permalinks in tranquilpeaks <code>config.toml</code> created deeply nested directories in the
root of <code>/public</code>. For now I commented out permalink section and instead I put everything
into <code>content/post/</code> in such a way that each post is located in its own directory that contains
its own <code>Index.Rmd</code> file</li>
</ol>
</div>
