---
title: Recommender system project
author: YC
date: 2021-01-10
slug: []
categories:
  - R
tags:
  - SVD
  - machine learning
  - movielens
keywords:
  - tech
summary: "Adding previously existing HTML file"
thumbnailImage: "./post/2021-01-10-recommender-system-project/images/unnamed-chunk-10-1.png"
thumbnailImagePosition: left
#autoThumbnailImage: yes
output:
  blogdown::html_page  
---

<script src="/./rmarkdown-libs/header-attrs/header-attrs.js"></script>
<link href="/./rmarkdown-libs/anchor-sections/anchor-sections.css" rel="stylesheet" />
<script src="/./rmarkdown-libs/anchor-sections/anchor-sections.js"></script>


<p>Couple of week as ago I completed a small recommender system project. This is not
a type of an analysis I normally do for my day job and I was curious. Is so happened
that I was also taking couple of online classes including one in linear algebra
and the idea to try singular value decomposition implementation for a recommender
was interesting. For this project I used 10M movielens data set that has information
about ~10 millions rating for movies and is commonly used for benchmarking
ML algorithms. <a href="/html/movielens.html" target="_blank">Follow this link to see completed HTML</a>.
The project repository is located <a href="https://gitlab.com/chinenovy/yet_another_movielens" target="_blank">here</a></p>
